aispeaker-flow-cloud.json
[{"id":"6e1b6d0d.ca6484","type":"http request","z":"deb0d57.1c46528","name":"LINE Messaging API","method":"POST","ret":"txt","url":"https://api.line.me/v2/bot/message/reply","tls":"","x":1100,"y":320,"wires":[["adc60e85.68ae9"]]},{"id":"595795f.4fbb16c","type":"watson-conversation-v1","z":"deb0d57.1c46528","name":"Watson Conversation","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":360,"y":200,"wires":[["6fd8ecb7.191ab4","aa6ac7e6.70c458"]]},{"id":"7697e04a.9aceb","type":"function","z":"deb0d57.1c46528","name":"Pre LINE Messaging API","func":"msg.payload.replyToken = msg.replyToken;\nmsg.headers = {\"Content-Type\": \"application/json\", \"Authorization\": \"Bearer <token>\"};\nreturn msg","outputs":1,"noerr":0,"x":850,"y":320,"wires":[["6e1b6d0d.ca6484"]]},{"id":"77eab402.8fa27c","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"apiKey","apiKey":"da968f8d.fe97f","outputType":"evt","deviceId":"RaspberryPi-001","deviceType":"RaspberryPi-DevType","eventCommandType":"blink","format":"json","data":"temp","qos":"2","name":"IBM IoT","service":"registered","x":1320,"y":200,"wires":[]},{"id":"2fb700a8.e219b","type":"http in","z":"deb0d57.1c46528","name":"POST sample ","url":"/sample","method":"post","upload":false,"swaggerDoc":"","x":90,"y":320,"wires":[["cd1c7ff9.f6c1d"]]},{"id":"adc60e85.68ae9","type":"function","z":"deb0d57.1c46528","name":"Set MQTT message","func":"msg.payload = msg.mqtt;\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":200,"wires":[["f2dc8fa1.f1cc5"]]},{"id":"f2dc8fa1.f1cc5","type":"switch","z":"deb0d57.1c46528","name":"","property":"send_mqtt","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":1190,"y":200,"wires":[["77eab402.8fa27c"]]},{"id":"d0afa6a9.4c12b8","type":"function","z":"deb0d57.1c46528","name":"Post TTS","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":80,"wires":[["7ca2776d.665208","adc60e85.68ae9"]]},{"id":"80a47f41.bd65d","type":"watson-text-to-speech","z":"deb0d57.1c46528","name":"Text to Speech","lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"ja-JP_EmiVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":960,"y":80,"wires":[["d0afa6a9.4c12b8"]]},{"id":"78c54472.7383fc","type":"watson-speech-to-text","z":"deb0d57.1c46528","name":"Speech To Text","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"","payload-response":false,"streaming-mode":false,"default-endpoint":false,"service-endpoint":"","x":280,"y":80,"wires":[["ac91690.f1fb298"]]},{"id":"b01c276c.cfb228","type":"websocket in","z":"deb0d57.1c46528","name":"","server":"da80ce7e.01da6","client":"","x":100,"y":80,"wires":[["78c54472.7383fc"]]},{"id":"7ca2776d.665208","type":"websocket out","z":"deb0d57.1c46528","name":"","server":"da80ce7e.01da6","client":"","x":1300,"y":80,"wires":[]},{"id":"cd1c7ff9.f6c1d","type":"function","z":"deb0d57.1c46528","name":"Pre processing for LINE","func":"// Set inbound type\nmsg.inbound_type = \"LINE\";\n\nvar event = msg.payload[\"events\"][0];\nmsg.replyToken = event[\"replyToken\"];\nmsg.payload = event[\"message\"][\"text\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["af86d98.361c328"]]},{"id":"ac91690.f1fb298","type":"function","z":"deb0d57.1c46528","name":"Pre processing for Speech","func":"// Set inbound type\nmsg.inbound_type = \"Speech\";\n// Trim spaces\nmsg.payload = msg.transcription.replace(/\\s+|　+/g, \"\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":80,"wires":[["af86d98.361c328"]]},{"id":"273295ca.e77dba","type":"switch","z":"deb0d57.1c46528","name":"Speech or LINE","property":"inbound_type","propertyType":"msg","rules":[{"t":"eq","v":"Speech","vt":"str"},{"t":"eq","v":"LINE","vt":"str"}],"checkall":"true","outputs":2,"x":760,"y":200,"wires":[["45a7cc5b.5b2654"],["7697e04a.9aceb"]]},{"id":"6fd8ecb7.191ab4","type":"function","z":"deb0d57.1c46528","name":"Post Conversation","func":"msg.payload.messages = [];\nfor(var i = 0; i < msg.payload.output.text.length; i++){\n    msg.payload.messages[i] = {};\n    msg.payload.messages[i].type = \"text\";\n    msg.payload.messages[i].text = msg.payload.output.text[i];\n\n    if(msg.payload.messages[i].text.match(/ありがとうございました/)){\n\n        msg.send_mqtt = true;\n        var array = msg.payload.messages[i].text.match(/[0-9]+\\:?[0-9]*/g);\n\n        // Create MQTT message in JSON\n        // Power ON\n        if(array.length == 2){\n            msg.mqtt = {\n                    c:{\n                    \"time\" : array[0],\n                    \"temperature\" : array[1] }\n                    }\n        // Power OFF\n        }else if(array.length == 1){\n            msg.mqtt = {\n                    c:{\n                    \"time\" : array[0] }\n                    }\n        }\n    }    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":576,"y":200,"wires":[["273295ca.e77dba"]]},{"id":"45a7cc5b.5b2654","type":"function","z":"deb0d57.1c46528","name":"Pre TTS","func":"var text = \"\";\nfor(var i = 0; i < msg.payload.output.text.length; i++){\n    text += msg.payload.output.text[i];\n}\nmsg.payload = text;\nreturn msg","outputs":1,"noerr":0,"x":800,"y":80,"wires":[["80a47f41.bd65d"]]},{"id":"af86d98.361c328","type":"function","z":"deb0d57.1c46528","name":"Pre Conversation","func":"msg.params = {};\nmsg.params.workspace_id = \"<workspace_id>\";\nmsg.params.username = \"<username>\";\nmsg.params.password = \"<password>\";\nmsg.additional_context = {\"timezone\":\"Asia/Tokyo\"};\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["595795f.4fbb16c","df6889ba.3a90d8"]]},{"id":"df6889ba.3a90d8","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"payload","x":330,"y":240,"wires":[]},{"id":"aa6ac7e6.70c458","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"payload","x":550,"y":240,"wires":[]},{"id":"53af4b09.306284","type":"comment","z":"deb0d57.1c46528","name":"LINE in","info":"","x":70,"y":280,"wires":[]},{"id":"724a0eb0.a43f5","type":"comment","z":"deb0d57.1c46528","name":"Speech in","info":"","x":80,"y":40,"wires":[]},{"id":"da968f8d.fe97f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"da80ce7e.01da6","type":"websocket-listener","z":"","path":"/ws/sample","wholemsg":"false"}]